        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	  


<footer class="footer" style="
    position: relative;
    bottom: 0;
    width: auto;
    height: 100%;
    line-height: 25px;
    background-color: transparent;">
      <div class="container text-center">
      <span class="text-muted">Handcrafted by <a href="http://fahadq.com/portfolio/portfolio.html">Fahad Qayyum</a> @ Lassonde School of Engineering</span>
   
      </div>
    </footer>
  </body>
</html>