<% include ./partials/header%>


<h2>Site Credits</h2>
<br>
<div class="container">
	<div class="row">
		<div class="col-3"></div>
	
		<div class="col-6 text-center">
		
<ul>
	<li id="itemList" class="hvr-wobble-horizontal"><p class = "lead" style = "color: #D9E0EA;"><a href="https://www.casita.com/blog/uk-slang-words-every-student-should-know ">UK Slangs, </a></li>
	<li id="itemList" class="hvr-wobble-horizontal"><p class = "lead" style = "color: #D9E0EA;"><a href="https://www.hotcoursesabroad.com/study-in-usa/once-you-arrive/8-american-slang-phrases-youll-definitely-hear-around-campus/">USA Slangs, </a></li>
	<li id="itemList" class="hvr-wobble-horizontal"><p class = "lead" style = "color: #D9E0EA;"><a href="https://theculturetrip.com/north-america/canada/articles/13-canadians-slang-words-sayings-you-should-know/ ">Canada Slangs, </a></li>
	<li id="itemList" class="hvr-wobble-horizontal"><p class = "lead" style = "color: #D9E0EA;"><a href="https://www.studiesinaustralia.com/studying-in-australia/living-in-australia/aussie-slang">Australia Slangs, </a></li> 
	<li id="itemList" class="hvr-wobble-horizontal"><p class = "lead" style = "color: #D9E0EA;"><a href="http://clemence-cours-fle.fr/vocabulaire-universitaire-france/">France Slangs.</a></li>
	
	
	
</ul>
<br>

			
	
</div>
	<div class="col-3"></div>
	</div>


<% include ./partials/footer%>
