<% include ../partials/header%>
	  <h1 id="slangLogo" class="rainbow-text">Add New Country</h1>

<div class="container">
	<div class="row">
		<div class="col-3"></div>
	
		<div class="col-6">
		
			
			<br>
			<form class="form-inline text-center" action = "/" method = "post">
  <div class="form-group">
	  <label for="exampleInputName2"><h4  style="color : white;">Enter Country Name </h4></label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Country" name = "dict[country]" required>
  </div>

	<button type="submit" class="btn btn-default">Done</button>
</form>

		</div>
	<div class="col-3"></div>

	</div>
</div>

<% include ../partials/footer%>
